2.Development/Narrative_Worldbuilding/Characters
3.Scribbling/
2.Development/Narrative_Worldbuilding/DT.Spot_Lore_Tracker.md
2.Development/Narrative_Worldbuilding/DT.Expansion_Tracker.md
2.Development/Narrative_Worldbuilding/DT.Notebook_Tracker.md
2.Development/Narrative_Worldbuilding/DT.WN-DT.md
